* {
    margin: 0;
    padding: 0;
    /* font-family: ; */
}

.buttons {
    text-align: center;
}

/* bouttons de redirection perso/panier */
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background-color: rgb(103, 103, 213);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgb(129, 94, 180) 10.8%,
            rgb(63, 53, 210) 94.3%);
    transition: all 0.475s;
}


.card {
    /* margin-left: 150px; */
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}


/* <!-- DISPOSITION PC , TABLETTES & ACCESSOIRES  -->
<!-- dispositions des Ordinateurs  --> */
/* boutton telecharger et boutton personnalisation */

/* responsive mais pas en petit ecran ( appliquer le margin-top en petit ecran) {{1}} */
.all-pc-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* responsive mais pas en petit ecran ( appliquer le margin-top en petit ecran) {{2}} */
.all-pc-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}

/* responsive mais pas en petit ecran ( appliquer le margin-top en petit ecran) {{3}} */
.all-pc-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;

}