body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: #f8f9fa;

}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 600px; */
    width: 100%;
    margin: 150px 490px;
}

.login-container h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-control {
    margin-bottom: 1rem;
}

.btn-primary {
    width: 100%;
}

.forgot-password {
    text-align: center;
    display: block;
    margin-top: 1rem;
}


/* div avec une image en font partie css */
.background {
    background-position: center;
    background-size: cover;
    height: 800px;
}


/* Partie respoonsive */
@media screen and (max-width: 768px) {
    .login-container {
        margin: 150px 50px;
    }
}